API_TOKEN=8698917772:AAEtTSgXQWqgkaSmDNTIZjeYzepyvBrMlyg
LZT_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9.eyJzdWIiOjYyOTA2MzYsImlzcyI6Imx6dCIsImlhdCI6MTc3MzY4MzIwMiwianRpIjoiOTQ2NzM5Iiwic2NvcGUiOiJiYXNpYyByZWFkIHBvc3QgY29udmVyc2F0ZSBwYXltZW50IGludm9pY2UgY2hhdGJveCBtYXJrZXQiLCJleHAiOjE5MzEzNjMyMDJ9.qvrpUlO_IHNutTpYDAOAF_hQam7fDHOHeV7-eO3RdEsazWDNwbSQw8SX6PJaxHlMuQY0lQheTZG2b2MQssNGF7yeHSfWJxndtpxpKBz4xSrZ2gXpEd9AJ2-_Lpi6N8Acb3GIaWKsmC7V-DIUC7s1VfmqkWcU9KH_UKZ8EWPl1wk
OWNER_ID=1377985336
ACCESS_MODE=open
DB_FILE=bot_data.sqlite
FETCH_TIMEOUT=1.20
BUY_TIMEOUT=0.32
HUNTER_INTERVAL_BASE=0.02
